html{
  padding: 0;
}

body {
  background-color:white;
  padding: 0;
  margin: 0;
}

.body{
  padding: 25px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Abel', sans-serif;
  color: #009136;
  font-weight: 400;
  margin-top: 2em;
}

.ticket {
    box-shadow: 3px 2px 2px 2px rgba(0,0,0,0.24);
    padding: 15px;
    margin-bottom: 2em;
}

.ticketSubtitle{
  font-family: 'Dosis', sans-serif;
  font-weight:700;
  letter-spacing: .05em;
  color: black;
  margin: 0;
}

.ticketType{
  font-family: 'Dosis', sans-serif;
  font-weight:700;
  letter-spacing: .05em;
  color: #009136;
  margin: 0;
}
.ticketDescription{
  max-width: 100%;
  word-wrap: break-word;
  font-family: 'Dosis', sans-serif;
  letter-spacing: .05em;
}

.ticketImg{
  max-width: 100%;
}
.title {
  font-family: 'Dosis', sans-serif;
  font-weight:700;
  letter-spacing: .05em;
  color: #009136;
}

.subtitle{
  font-family: 'Dosis', sans-serif;
  font-weight:700;
  letter-spacing: .05em;
  color: black;
}


.invisible {
  display: none;
}

.img{
  width: 100%;
  height: 10em;
  background-color: #009136;
  margin-bottom: 1em;
}

.login {
  display: flex;
  flex-direction: column;
}

.login label{
  font-family: 'Dosis', sans-serif;
  font-weight:500;
  letter-spacing: .05em;
  color: black;
}

.login input{
  background-color: white;
  font-family: 'Dosis', sans-serif;
  color: black;
  letter-spacing: .05em;
  border: none;
  border-bottom: solid #009136;
  height: 2em;
  margin-bottom: 1em;
}

.login input:last-of-type{
  margin-bottom: 8em;
}

.button{
  font-family: 'Dosis', sans-serif;
  color: white;
  background-color: #009136;
  border: solid #009136;
  width: 8em;
  height: 3em;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24);
}

.login .button{
  align-self: flex-end;
}

.link{
  color: #009136;
  font-family: 'Dosis', sans-serif;
  width: 8em;
  height: 3em;
  align-self: flex-start;
  transform: translateY(3em);
  line-height: 3em;
}

header{
  padding-left: 1em;
  padding-right: 1em;
  background-color: #009136;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  z-index: 3;
  margin-bottom: 2em
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #009136;
}

header li a {
  display: block;
  padding: 20px 20px;
  padding-right: 60px;
  border-right: 1px solid #00782d ;
  text-decoration: none;
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: right;

}

header li a:hover,
header .menu-btn:hover {
  background-color: #00782d;
}


header .backArrow {
  display: block;
  float: left;
  font-size: 2em; 
  padding: 10px 20px;
  text-decoration: none;
} 

/* menu */

header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

header .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  margin-right: 2em;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 360px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  header li {
    float: left;
  }
  header li a {
    padding: 20px 30px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}

.mapbox {
  position: relative;
}

.map{
  width: 100%;
  height: 40em;
  margin-bottom: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
}

.marker {
  background-color: black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.red {
  background-color: red;
}

.green {
  background-color: green
}

.yellow {
  background-color: yellow
}

#fly {
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 50%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #005e23;
  top: 10px;
  left: 25%;
}

.choosePoleForm{
  margin-top: 0em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chosePole{
  flex: 0 0 100%;
  margin-bottom: 0em;
  display: flex;
  flex-direction: column;
}

.chosePole label{
  margin-bottom: 1em;
  font-family: 'Dosis', sans-serif;
  color: white;
  background-color: #009136;
  border: solid #009136;
  width: 8em;
  height: 3em;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24);
  text-align: center;
  line-height: 3em;
}

.choosePoleForm input:checked +  label{
  background-color: #005e23;
  border: solid #005e23;
}

.choosePoleForm button:last-of-type{
  margin-left: auto;
}

.choosePoleForm input{
  display: none;
}

.complaintForm{
  display: flex;
  flex-direction: column;
}

.complaintButton{
  background-color: white;
  border: none;
  text-align: left;
  color: #009136;
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0;
  height: 2em
}

.selectedComplaint{
  min-height: 2em;
  margin-bottom: 0;
  background-color: white;
  text-align: left;
  color: #009136;
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
}

.complaintButton:active{
  background-color: #009136;
  color: white;
}

.slideOut{
  animation: 1s alternate slideOut;
}

@keyframes slideOut{
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-500px)
  }
}


.slideIn{
  animation: 1s alternate slideIn;
}

@keyframes slideIn{
  from {
    transform: translateX(+500px)
  }

  to {
    transform: translateX(0)
  }
}

.buttonWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label{
  font-family: 'Dosis', sans-serif;
  color: white;
  background-color: #009136;
  border: solid #009136;
  width: 6em;
  height: 2em;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24);
  padding: none;
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
  margin-bottom: 6em;
}

.textarea{
  margin-bottom: 2em;
  height: 6em;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;

}

.error{
  background-color: #FFEFC6;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
  margin: 0;
}

td {
  font-family: 'Dosis', sans-serif;
}


th {
    color: #009136;
    font-family: 'Dosis', sans-serif;
    border-bottom: 1px solid #009136;
    text-align: left;
}