<!DOCTYPE html>
<html>

<% include ../partials/head %>


<body>

<% include ../partials/header %>

<section class="body">
    <h1>Welkom, <%= name %></h1>
    <p class="subtitle">Kies de laadpaal</p>
    
    <div id='map' class="map">
		  <!-- Map gets shown here -->
	  </div> 
    
    <form class="choosePoleForm" method="POST" action="/choosePole">
      <div class="chosePole">
        <input id="5cf67fa7a2649907bc1814c1" type="radio" name="pole" value="5cf67fa7a2649907bc1814c1">
        <label for="5cf67fa7a2649907bc1814c1">Paal 1</label>
      </div>

      <button class="button">KIES ANDERE</button>
      <button class="button" type="submit">SELECTEER</button>
    </form>
  </section>
</body>

<% include ../partials/footer %>

<!-- MapBox --> 
<script src="/javascripts/mapbox.js"></script>


</html>


