<!DOCTYPE html>
<html>

<% include ../partials/head %>


<body>

<% include ../partials/header %>

<section class="body">
    <h1>Welkom, <%= name %></h1>
    <p class="subtitle">Kies de laadpaal</p>
  
    <div class="mapbox">
      <div id='map' class="map">
        <!-- Map gets shown here -->
      </div> 

      <button id='fly'>beschikbare laadpaal</button>
    </div>

    
  </section>
</body>

<% include ../partials/footer %>

<!-- MapBox --> 
<script src="/javascripts/mapbox.js"></script>


</html>


