<!DOCTYPE html>
<html>

<% include ../partials/head %>



<body>

<% include ../partials/header %>

<section class="body">
    <h1>Kies een laadpaal</h1>
    <p class="subtitle">Is dit de laadpaal waar je een melding over wilt doen?</p>
    <div class="map"></div>
    
    <form class="choosePoleForm">
      <button class="button">KIES ANDERE</button>
      <button class="button">SELECTEER</button>
    </form>
  </section>
</body>

<% include ../partials/footer %>

</html>


