<% include ../partials/head %>
<% include ../partials/header %>

<section class="body">
    <h1>Wat is er mis?</h1>
    <p class="subtitle">Selecteer waar het probleem ligt.</p>
    <div class="selectedComplaint"></div>
    
    <form class="chooseType complaintForm" action="/createComplaint" method="POST" enctype="multipart/form-data">
      <button class="complaintButton option">De laadpaal...</button>
      <button class="complaintButton option">De parkeerplek...</button>
      <button class="complaintButton option">Mijn pasje...</button>  
    </form>
  </section>

<% include ../partials/footer %>
