<!DOCTYPE html>
<html>

<% include ../partials/head %>
<% include ../partials/header %>

    <% console.log(data) %>
    

<body>
    <section class="body">
        <h1>Storingen</h1>
        <table>
            <thead>
                <tr>
                    <th>Locatie</th>
                    <th>Datum</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(complaint=>{ console.log(complaint)%>
                    <tr>
                        <td><a href="/dashboard/<%=complaint._id%>"><%=complaint.pole.address%></a></td>
                        <td><%=complaint.date%></td>
                        <td><%=complaint.status%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </section>
</body>


<% include ../partials/footer %>

</html>