<% include ../partials/head %>
<% include ../partials/header %>    

<section class="body">
    <h1>Storing Zoeken</h1>

    <input type="text" name="complaintid" id="complaintid" placeholder="Complaint ID here">
    <button class="button" id="search">Zoeken</button>

    <h1>Alle Meldingen</h1>
    <table>
        <thead>
            <tr>
                <th>Locatie</th>
                <th>Datum</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(complaint=>{ console.log(complaint)%>
                <tr>
                    <td><a href="/dashboard/<%=complaint._id%>"><%=complaint.pole.address%></a></td>
                    <td><%=complaint.date%></td>
                    <td><%=complaint.status%></td>
                </tr>
            <%})%> 
        </tbody>
    </table>
</section>

<script src="/javascripts/dashboard.js"></script>

<% include ../partials/footer %>    
