<% include ../partials/head %>
<% include ../partials/header %>

<section class="fullscreenmap">
    <div class="mapbox">
      <div id='map' class="map">
        <!-- Map gets shown here -->
      </div> 

      <button id='legendaButton' class="legendaButton">?</button>

      <section class="legenda heightZero">
        <h2>Hoe werkt het?</h2>
        <p class="legendaText">Druk op een laadpaal om een van de volgende stappen te ondernemen.</p>
        <ul>
          <li>Maak een melding over de laadpaal</li>
          <li>Bekijk meldingen over de laadpaal</li>
          <li>Navigeer naar de laadpaal</li>
        </ul>
        <h2>Legenda</h2>
        <div class="markerWrapper">
          <div class="legendaMarkerGreen green"></div>
          <p class="markerText">Laadpaal beschikbaar</p>
        </div>
        <div class="markerWrapper">
          <div class="legendaMarkerYellow yellow"></div>
          <p class="markerText">Laadpaal met storingen</p>
        </div>
        <div class="markerWrapper">
          <div class="legendaMarkerRed red"></div>
          <p class="markerText">Laadpaal bezet</p>
        </div>
      </section>

      <button id='fly' disabled>BESCHIKBARE LAADPAAL</button>
    </div> 
  </section>
<!-- MapBox --> 
<script src="/javascripts/mapbox.js"></script>

<% include ../partials/footer %>