<!DOCTYPE html>
<html>

<% include ../partials/head %>

<% include ../partials/header %>


  <body class="index">
    <h1>Laadpalen app</h1>  
    <div class="img"></div>
    <p class="subtitle">Log in om een melding te maken</p>
    <form class="login">
      <label for="email">Email</Label>
      <input type="text" id="email" value="henk@email.com">

      <label for="name">Voornaam</Label>
      <input type="text" id="name" value="Henk">

      <button class="button">LOG IN</button>
    </form>
  </body>

<% include ../partials/footer %>

</html>


