<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>

  <header>
    <% include ../partials/header %>
  </header>

  <body>
    <h1 class="title">Wat is er mis?</h1>
    <h2 class="option">De laadpaal...</h2>
    <h2 class="option">De parkeerplek...</h2>
    <h2 class="option">Mijn pasje...</h2>
  </body>

  <footer>
    <% include ../partials/footer %>
 </footer>
</html>


