<!DOCTYPE html>
<html>

<% include ../partials/head %>

<% include ../partials/header %>


  <body>
    <h1 class="title">Wat is er mis?</h1>
    <h2 class="option">De laadpaal...</h2>
    <h2 class="option">De parkeerplek...</h2>
    <h2 class="option">Mijn pasje...</h2>
  </body>

<% include ../partials/footer %>

</html>


