<!DOCTYPE html>
<html>

<% include ../partials/head %>

<% if(typeof errorMsg !== 'undefined') {
    %> <h2 class="error"><%=errorMsg%></h2> <%
} 

%>

<body>
  <section class="body">
    <h1>Laadpalen app</h1>  
    <div class="img"></div>
    <p class="subtitle">Log in om een melding te maken</p>
    <form class="login" action="/login" method="POST">
      <label for="email">Email</Label>
      <input type="email" name="email" id="email" value="example@email.com" required>

      <a class="link" href="/register">registreer</a>

      <button class="button">LOG IN</button>
    </form>
  </section>
</body>

<% include ../partials/footer %>

</html>


