
<% include ../partials/head %>

<% if(typeof errorMsg !== 'undefined') {
    %> <h2 class="error"><%=errorMsg%></h2> <%
} %>

<section class="body">
  <h1>De Meldpaal</h1>  
  <p class="subtitle">Vul hieronder uw email in.</p>
  <form class="login" action="/login" method="POST">
    <input type="email" name="email" id="email" value="example@email.com" required>


    <button class="button">GA VERDER</button>
  </form>
</section>

<% include ../partials/footer %>
