<!DOCTYPE html>
<html>

<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <section class="body">
        <h1>Mijn meldingen</h1>
        <table>
            <thead>
                <tr>
                    <th>Locatie</th>
                    <th>Datum</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/myreports/6394623948798">Beukenplein</a></td>
                    <td>11-09-2018</td>
                    <td>In behandeling</td>
                </tr>
                <tr>
                    <td>Beukenplein</td>
                    <td>11-09-2018</td>
                    <td>In behandeling</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>

<% include ../partials/footer %>

</html>