<% include ../partials/head %>
<% include ../partials/header %>

<% console.log("data myreportdetail");console.log(data)%>

<section class="chatbody">
    <section class="chatHeader">
        <h3><%=data.pole.address%></h3>
        <h4>Melding: <%=data.type%></h4>
        <h4>Status: <%=data.status%></h4>
        
        <% if(data.description) {%>
            <h4>Beschrijving: <%= data.description %></h4>
        <%  }   %>
    </section>


    <section id="newchat" class="newchat">
        <!-- Messages get shown here -->
    </section>

    <section class="chatinputfield">
        <input id="input" autocomplete="off" placeholder="typ een bericht" />
        <button id="sendbutton">Send</button>
    </section>
   
</section>

<!-- Socket.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src ="/javascripts/socket.js" ></script>

<% include ../partials/footer %>
