<!DOCTYPE html>
<html>

<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <section class="body">
        <h1>Mijn meldingen</h1>
        <table>
            <thead>
                <tr>
                    <th>Locatie</th>
                    <th>Datum</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            <% data.forEach(complaint=>{ %>
                <tr>
                    <td><a href="/myreports/<%= complaint._id %>"><%= complaint.pole.address%></a></td>
                    <td><%= complaint.date%></td>
                    <td><%= complaint.status%></td>
                </tr>
            <% }) %>
           </tbody>
        </table>
    </section>
</body>

<% include ../partials/footer %>

</html>