<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
  <section class="body">
    <h1>Laadpalen app</h1>  
    <p class="subtitle">Registreer om een melding te maken</p>
    <form class="login" action="/createuser" method="POST">
      <label for="email">Email</Label>
      
      <% if(typeof email != 'undefined') { %>
        <input type="email" name="email" id="email" value="<%=email%>" required>
      <% } else { %>
        <input type="email" name="email" id="email" placeholder="example@email.com" required>
      <% } %>

      <label for="name">Voornaam</Label>
      <input type="text" name="name" id="name" placeholder="uw naam hier" required>

      <a class="link" href="/">log in</a>

      <button class="button">REGISTREER</button>
    </form>
  </section>
</body>

<% include ../partials/footer %>

</html>


