<% include ../partials/head %>
<% include ../partials/header %>

<section class="body">
    <h1>Meldingen</h1>
    <table>
        <thead>
            <tr>
                <th>Locatie</th>
                <th>Aantal</th>
            </tr>
        </thead>
        <tbody>
            <%data.forEach(pole=>{ %>
                <tr>
                    <td><a href="/reports/<%=pole.id%>"><%=pole.address%></a></td>
                    <td><%=pole.count%></td>
                </tr>
            <%})%>
        </tbody>
    </table>
</section>

<% include ../partials/footer %>

