<!DOCTYPE html>
<html>

<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <section class="body">
        <h1>Storingen</h1>
        <table>
            <thead>
                <tr>
                    <th>Locatie</th>
                    <th>Aantal meldingen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <td><a href="/reports/9086986689">Beukenplein</a></td>
                    <td>115</td>
                </tr>
                <tr>
                    <td>Beukenplein</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>

<% include ../partials/footer %>

</html>

