<!DOCTYPE html>
<html>

<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <section class="body">
    <section class="ticket">
            <p class="ticketSubtitle">12-04-2018</p>
            <p class="ticketSubtitle">11:05</p>
            <h2 class="ticketType">De laadpaal is bezet door een niet elektrische auto.</h2>
            <p class="ticketDescription">Status: in behandeling</p>
            <p class="ticketDescription">Beschrijving: Vieze kut pickup</p>
            <img class="ticketImg" src="/images/uploads/5d00d38a1506b80206e63804.jpeg">
        </section>
        <section class="ticket">
            <p class="ticketSubtitle">12-04-2018</p>
            <p class="ticketSubtitle">11:05</p>
            <h2 class="ticketType">De laadpaal is bezet door een niet elektrische auto.</h2>
            <p class="ticketDescription">Status: in behandeling</p>
            <p class="ticketDescription">Beschrijving: Vieze kut pickup</p>
            <img class="ticketImg" src="/images/uploads/5d00d38a1506b80206e63804.jpeg">
        </section>
        <section class="ticket">
            <p class="ticketSubtitle">12-04-2018</p>
            <p class="ticketSubtitle">11:05</p>
            <h2 class="ticketType">De laadpaal is bezet door een niet elektrische auto.</h2>
            <p class="ticketDescription">Status: in behandeling</p>
            <p class="ticketDescription">Beschrijving: Vieze kut pickup</p>
            <img class="ticketImg" src="/images/uploads/5d00d38a1506b80206e63804.jpeg">
        </section>
    </section>
</body>

<% include ../partials/footer %>

</html>