<!DOCTYPE html>
<html>

<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <section class="body">
        <h1>Storingen</h1>
        <table>
            <thead>
                <tr>
                    <th>Locatie</th>
                    <th>Datum</th>
                </tr>
            </thead>
            <tbody>
                <%data.forEach(pole=>{ %>
                    <tr>
                        <td><a href="/reports/<%=pole.id%>"><%=pole.address%></a></td>
                        <td><%=pole.count%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </section>
</body>

<% include ../partials/footer %>

</html>

