<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>

<% include ../partials/header %>

  <section class="body"> <% 
      if(data.user.name) {
        %> <h1 class="title">Bedankt voor de melding, <%- data.user.name %> !</h1> <%
      } else {
        %> <h1>Bedankt voor de melding!</h1> <%
      } %>

    <section class="bonnetje">
      <p class="subtitle">22-09-1999</p>
      <h2 class="subtitle">De laadpaal is kapot</h2>
    </section>
  </section>
</body>

<% include ../partials/footer %>

</html>


