<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>

<% include ../partials/header %>

<section class="body">
  <% 
    if(data.user.name) {
      %> <h1>Bedankt voor de melding, <%- data.user.name %> !</h1> <%
    } else {
      %> <h1>Bedankt voor de melding!</h1> <%
    } %>

    <p><%- data.date %></p>
    <h1><%- data.type %></h1>
    <p></p>

    <img src="/images/uploads/<%= data._id %>.jpeg"></img>
    <div class="img"></div>

  </section>
</body>

<% include ../partials/footer %>

</html>


