<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>

<% include ../partials/header %>

<section class="body">
    <h1>Bedankt voor de melding!</h1>

    <p>nog op deze pagina: </p>
    <p>- naam van de gebruiker</p>
    <p>- volgende paal</p>
  </section>
</body>

<% include ../partials/footer %>

</html>


