<!-- Javascript -->
<script src="/javascripts/client.js"></script>
<script src = "/javascripts/socket.js" ></script>


<!-- Body Closing-->
</body>

<!-- FOOTER -->
<footer></footer>

</html>



