<!-- views/partials/head.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Laadpaal</title>

    <!-- Styling -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Remove favoico.ico error -->
    <link rel="shortcut icon" href="#"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
</head>