<!-- Header -->
<header>
    <img class="backArrow" src="/icons/back-arrow.png" alt="back arrow" onclick="window.history.back()">
    <%# <label class="backButton" for="back"></label>
    <input type="button" value="Back" id="back" class="invisible" onclick="window.history.back()" />  %>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>
    <ul class="menu">
        <li><a href="/myaccount">MIJN ACCOUNT</a></li>
        <li><a href="/reports">STORINGEN</a></li>
        <li><a href="/chat">CHAT</a></li>
        <li><a href="/myreports">MIJN MELDINGEN</a></li>
        <li><a href="/logout">UITLOGGEN</a></li>
  </ul>
</header>