<!-- Header -->
<header>
    <a href="" class="backArrowLink"><img class="backArrow" src="/icons/back-arrow.png" alt="back arrow"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>
    <ul class="menu">
        <li><a href="/myaccount">MIJN ACCOUNT</a></li>
        <li><a href="/reports">STORINGEN</a></li>
        <li><a href="/chat">CHAT</a></li>
        <li><a href="/myreports">MIJN MELDINGEN</a></li>
        <li><a href="/logout">UITLOGGEN</a></li>
  </ul>
</header>