<!-- Header -->
<header>

    <img class="backArrow" src="/icons/back-arrow.png" alt="back arrow">

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>
    
    <ul class="menu">
        <li><a href="/">KAART</a></li>
        <li><a href="/meldingen">ALLE MELDINGEN</a></li>
        <li><a href="/account/meldingen">MIJN MELDINGEN</a></li>
        <li><a href="/logout">UITLOGGEN</a></li>
  </ul>
 <script src='/javascripts/header.js'></script>
</header>